body
{
background-color: #0080a0;
}

pre
{
margin: 1em 0px 1em 0px;
padding: 0.5em;
background-color: #fafaff;
border: 1px  solid black;
}

pre.examplecode
{
margin: 1em 0px 1em 0px;
padding: 0.5em;
background-color: #fafaf0;
border: 0.5px solid black;
}
hr
{
text-decoration: underline;
color: #F16C00;
font-size: 12pt;
}
a
{
text-decoration: underline;
color: #F1bC00;
font-size: 14pt;
}

h5
{
color: #184366;
font-size: 12pt;
font-family: "trebuchet ms", helvetica, sans-serif;
}


h4
{
color: white;
font-size: 14pt;
background-color:#004048;
font-family: "trebuchet ms", helvetica, sans-serif;
}

h3
{
color: #184366;

font-size: 18pt;
font-family: "trebuchet ms", helvetica, sans-serif;
}

p
{
font-size: 12pt;
font-family: "trebuchet ms", helvetica, sans-serif;
}

li
{
font-size: 12pt;
font-family: "trebuchet ms", helvetica, sans-serif;
}
